<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>553613952483-5bf6i1ub9kq7qeq0fqt5760d02r1hto3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.553613952483-5bf6i1ub9kq7qeq0fqt5760d02r1hto3</string>
	<key>API_KEY</key>
	<string>AIzaSyCkbb6tdrVAatt4h0T3A3GZFPMymXoM8eg</string>
	<key>GCM_SENDER_ID</key>
	<string>553613952483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>China.FoeverKid.FreeLove.TikTok</string>
	<key>PROJECT_ID</key>
	<string>tiktok-23853</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-23853.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553613952483:ios:bdc1699d307c43c00e8cd6</string>
</dict>
</plist>